*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202124;
        font-family: "Poppins", sans-serif;

}

.nav{
  background-color: #202124;
  
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}

.input{
    background-color: #202124;
    color: white;
    box-shadow: 2px 10px 19px #010717;
    height: 50px;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    
}

.btn{
    cursor: pointer;
    box-shadow: 0 10px 10px #010717;
    height: 40px;
    width: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 20px;
    transition: all;
    background-color: #202124;
    color: white;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
}



.main h3{
    padding: 10px;
    color: white;
}


.notes-container{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    gap: 30px;
}

.note{
    background-color: #2d2e30;
    color: white;
    padding: 15px;
    border-radius: 10px;
      box-shadow: 0px 6px 14px #010717;
    font-size: 15px;
    word-wrap: break-word;
}






@media (max-width: 400px) {
    .notes-container{
        grid-template-columns: 1fr;
    }
}